.tab {
 	position: fixed;
    background: #000;
    height: 44px;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

#layout {
    margin: 0 auto;
    position: absolute;
    height: 100%;
    width: 100%;
}

.itemBill {
    width: 44px;
    height: 44px;
    position: absolute;
    left: 25%;
}

.itemMe {
    width: 44px;
    height: 44px;
    position: absolute;
    right: 25%;
}

.itemBill>img ,.itemMe>img {
    position: absolute;
    top: 5px;
    left: 5px;
}

.itemBill>a  {
    position: absolute;
    top: 25px;
    left: 5px;
    font-size:5px;
}
.itemMe>a{
    position: absolute;
    top: 25px;
    left: 8px;
    font-size:5px;
}