<template name="home">
  {{> nav title = name}}
  <div class="items">
    {{#each Data}}
    <div class="item">
      <h3 class="title">{{title}}</h3>
      <h3 class="content">{{content}}</h3>
      <span>{{pricr}} ¥</span>
      <span class='time'>{{time}}</span>
    </div>
    {{/each}}
  </div>
  <!--  浮动的按钮与标签 -->
  <div class="addBtn">
    <span>
           新增
        </span>
  </div>
  <!-- /浮动的按钮与标签 -->
  {{#if fromHidden}}
    {{> modal_Add object=object }}
  {{/if}}
</template>


<!-- modal -->
<template name="modal_Add">
  <div id='modal_add'>
    <form id="submit">
      <input type="hidden" name="_id" value="{{object._id}}">
      <select id="sele" name="title">
                    {{#if object.title}}
                    <option value="{{object.title}}">{{object.title}}</option>
                    {{else}}
                    <option value="">请选择分类</option>
                    {{/if}}
							    <option value="餐饮">餐饮</option>
                  <option value="零食">零食</option>
                  <option value="衣服">衣服</option>
                  <option value="日用品">日用品</option>
                  <option value="住房">住房</option>
                  <option value="学习">学习</option>
                  <option value="医疗">医疗</option>
                  <option value="娱乐">娱乐</option>
        </select>
      <input type="text" name="content" placeholder="请输入备注" value="{{object.content}}">
      <input type="number" name="pricr" placeholder="请输入价格" value="{{object.pricr}}">
      <button type="submit" >提交保存</button>
    </form>
     <button id="fromHidden">取消</button>
  </div>
</template>