<template name="home">
  {{> nav data=data}}
  <div class="items">
    <div class="item">
      <h3 class="title">吃饭{{data}}</h3>
      <h3 class="content">买水果{{aint}}</h3>
      <span>50 ¥</span>
      <span class='time'>2017年6月11日23点{{a}}</span>
    </div>
    
     <div class="item">
      <h3 class="title">吃饭</h3>
      <h3 class="content">买水果</h3>
      <span>50 ¥</span>
      <span class='time'>2017年6月11日23点</span>
    </div>

     <div class="item">
      <h3 class="title">吃饭</h3>
      <h3 class="content">买水果</h3>
      <span>50 ¥</span>
      <span class='time'>2017年6月11日23点</span>
    </div>
  </div>
</template>
